<script lang="ts">
	import { goto } from '$app/navigation'

	import { page } from '$app/stores'
	import { names } from '~/lib/store'
	const cname = $page.params.name
	const remove = () => {
		$names = $names.filter(n => n !== cname)
		goto('/names')
	}
</script>

<div class="content">
	<div>
		<button on:click={remove}>remove</button>
	</div>
	<div>
		<h1>{cname}</h1>
	</div>
</div>
