<script lang="ts">
	import { name, names } from '~/lib/store'

	const add = (e: { preventDefault: () => void }) => {
		e.preventDefault()
		const t = $name
		$names = [...$names.filter(n => n !== t), t]
		$name = ''
	}
</script>

<div class="content">
	<div>
		<form on:submit={add}>
			<input type="text" bind:value={$name} />
			<button type="submit">add</button>
		</form>
	</div>
	<div>
		<ul>
			{#each $names as name}
				<li><a href={`/names/${name}`}>{name}</a></li>
			{/each}
		</ul>
	</div>
</div>
